<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215615917479-mekhntfu6vm37hv2srdd08tndbns1vup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215615917479-mekhntfu6vm37hv2srdd08tndbns1vup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215615917479-7qkvi8rrpt61me3eefhl0a54t3gqfjkb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtyt1Gj6dlgwaVxqC0bd08qD6hhQewArY</string>
	<key>GCM_SENDER_ID</key>
	<string>215615917479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>productsapp.com.tullahnazari.productsapp</string>
	<key>PROJECT_ID</key>
	<string>travelmantics-20481</string>
	<key>STORAGE_BUCKET</key>
	<string>travelmantics-20481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215615917479:ios:1626dd3c0c2dd0c07bfa82</string>
	<key>DATABASE_URL</key>
	<string>https://travelmantics-20481.firebaseio.com</string>
</dict>
</plist>